[user]
	name = Luis Camacho
	email = luiscamachojr17@gmail.com

[alias]
  plog = log --graph --all --oneline --decorate
[core]
	excludesfile = ~/.gitignore_global
	filemode = false
	eol = lf
	autocrlf = input
[color]
	ui = true
